* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    font-size: 16px;
}

body{
    width: 100vw;
    height: 100vh;
}

.home-background {
    background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpihaiFu-b2Jtz92NEBUHDQHi4YgvRiVLEJGG0LLLhtomFDIxmJWL7r1jN36ODxXPbmeJa3Vygob7wXZBfcm-hwk53PW8_=s1600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    height: 30%;
    clip-path: polygon(0 0, 100% 0%, 100% 66%, 0% 100%);
}

.header h1 {
    /* width: 30%; */
    color: red;
    font-size: 5rem;
    /* z-index: 10; */
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    /* height: 70%; */
}

.main form {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    /* perspective: 1000px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.card-wrapper {
    width: 16.5rem;
    height: 16.8rem;
    border-radius: 3rem;
    position: relative;
    perspective: 1000px;
    /* padding: 0rem; */
}

.card-wrapper:hover .myCard {
    /* transform:rotateX(180deg); */
    transform: rotateY(180deg);
    /* transform:rotateZ(180deg); */
    /* box-shadow: none; */

}

.myCard {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position: absolute;
    top: 0; */
    border-radius: 3rem;
    /* border: 2px solid rgb(255, 255, 255); */
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .3s ease-in-out;
    cursor: pointer;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, .7);
    /* opacity: 0.5; */
}

.myCard img {
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    filter:contrast(130%);
}

.frontFace,
.backFace {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.frontFace {
    transform: rotateY(0deg);
}

.backFace {
    transform: rotateY(180deg);
}

.teamBtn {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    /* Ensures child elements are also transformed in 3D space */
    transition: transform 0.5s;
    /* Adds a smooth transition effect */
    cursor: pointer;
    /* border-radius: 50px; */
}

.submitSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    padding: 2rem 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.457);
    gap: 2rem;
}

.submitSection button {
    border-radius: 10px;
    border: 2px solid white;
    background-color: red;
    color: white;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    width: 10rem;
    text-align: center;
    transition: all .4s;
    letter-spacing: .2rem;
    line-height: 2rem;
}

.submitSection button:hover {
    background-color: rgba(57, 57, 57, 0.417);
    color: rgb(255, 0, 0);

    border: 2px solid rgb(255, 0, 0);
}

@media (max-width: 1024px) {
    html{
        font-size: 10px;
    }
}
@media (max-width: 768px) {
    html{
        font-size: 8px;
    }
}
@media (max-width: 425px) {
    html{
        font-size: 5px;
    }
}

/* ---------------------------result css----------------------------- */

.result-background {
    background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpihbpjev3F2K51V1b04NCvCuUi3FwAzWfy_JMUYZ7BaPcjEWU97qM0r5ZRmAHAF1SXBf9y6YjXQXr07UKZaqij3zIjljoYA=s1600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


.rheader {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0rem; */
    background-color: rgb(0, 0, 0);
    height: 15vh;
    /* clip-path: polygon(0 0, 100% 0%, 100% 66%, 0% 100%); */
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 9;
}

.rheader h1 {
    color: red;
}

/* .playersCont{
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: rgba(229, 173, 173, 0.306);
    gap: 5rem;
    width: 100%;
    padding: 5rem auto;
    padding-top: 5rem;
    justify-content: center;
} */

.playersCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 100vh;  */
    /* max-width: 1000px; */
    /* min-width: 1000px; */
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.topImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    /* max-width: 1000px; */
    /* min-width: 1000px; */
    /* gap: 0; */
    flex-wrap: wrap;
    /* margin-top: 3rem;  */
}

.bottomImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* width: 100%;   */
    /* max-width: 1000px; */
    /* min-width: 1000px; */
    gap: 1rem 10rem;
    flex-wrap: wrap;
    /* margin: 3rem 0;  */
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    color: white;
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 30px;
    padding: 1rem;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, .7);      
}

.p-tooltip .p-tooltiptext {
    visibility: hidden;
    width: 90%;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 30px !important;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    bottom: 108%;
    /* left: 30; */
    /* margin-left: -60px; */
}

.p-tooltip .p-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 12px;
    border-style: solid;
    border-color: rgba(255, 0, 0, 1) transparent transparent transparent;
}

.p-tooltip:hover .p-tooltiptext {
    visibility: visible;
}

.p-tooltiptext > p {
    color: white;
}


.imgCont {
    width: 50%;
    /* border: 2px solid white; */
    border-radius: 100px;
    overflow: hidden;
}

.imgCont img {
    width: 100%;
    object-fit: cover;
}

.playerName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    background-color: white;
    border-radius: 50px;
}

.playerName>p {
    width: 100%;
    font-size: 1rem;
    color: black;
    padding: .5rem;
    margin: 0;
}