<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="{{ url_for('static', filename='js/result.js') }}"></script>
</head>

<body>
    <div class="rheader">
        <h1 class="tracking-in-expand-fwd-top">Predicted team</h1>
    </div>
    <div class="main">
        <div class="playersCont" id="playersContainer">
            <!-- <div class="topImage">
                <div id="rohit" class="player">
                    <div class="imgCont">
                        <img src="https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=4.11&w=200"
                            alt="abckdsldkfj">
                    </div>
                    <div class="playerName">
                        <p>Rohit Sharma</p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="bottomImage">
                <div id="rohit" class="player">
                    <div class="imgCont">
                        <img src="https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=4.11&w=200"
                            alt="abckdsldkfj">
                    </div>
                    <div class="playerName">
                        <p>Rohit Sharma</p>
                    </div>
                </div>
                <div id="rohit" class="player">
                    <div class="imgCont">
                        <img src="https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=4.11&w=200"
                            alt="abckdsldkfj">
                    </div>
                    <div class="playerName">
                        <p>Rohit Sharma</p>
                    </div>
                </div>
                <div id="rohit" class="player">
                    <div class="imgCont">
                        <img src="https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=4.11&w=200"
                            alt="abckdsldkfj">
                    </div>
                    <div class="playerName">
                        <p>Rohit Sharma</p>
                    </div>
                </div>
                <div id="rohit" class="player">
                    <div class="imgCont">
                        <img src="https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=4.11&w=200"
                            alt="abckdsldkfj">
                    </div>
                    <div class="playerName">
                        <p>Rohit Sharma</p>
                    </div>
                </div>
                <div id="rohit" class="player">
                    <div class="imgCont">
                        <img src="https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=4.11&w=200"
                            alt="abckdsldkfj">
                    </div>
                    <div class="playerName">
                        <p>Rohit Sharma</p>
                    </div>
                </div>
                <div id="rohit" class="player">
                    <div class="imgCont">
                        <img src="https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=4.11&w=200"
                            alt="abckdsldkfj">
                    </div>
                    <div class="playerName">
                        <p>Rohit Sharma</p>
                    </div>
                </div>
                <div id="rohit" class="player">
                    <div class="imgCont">
                        <img src="https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=4.11&w=200"
                            alt="abckdsldkfj">
                    </div>
                    <div class="playerName">
                        <p>Rohit Sharma</p>
                    </div>
                </div>
                <div id="rohit" class="player">
                    <div class="imgCont">
                        <img src="https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=4.11&w=200"
                            alt="abckdsldkfj">
                    </div>
                    <div class="playerName">
                        <p>Rohit Sharma</p>
                    </div>
                </div>
                <div id="rohit" class="player">
                    <div class="imgCont">
                        <img src="https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=4.11&w=200"
                            alt="abckdsldkfj">
                    </div>
                    <div class="playerName">
                        <p>Rohit Sharma</p>
                    </div>
                </div>
                <div id="rohit" class="player">
                    <div class="imgCont">
                        <img src="https://www.mumbaiindians.com/static-assets/images/players/large/3852.png?v=4.11&w=200"
                            alt="abckdsldkfj">
                    </div>
                    <div class="playerName">
                        <p>Rohit Sharma</p>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</body>

</html>